@model IEnumerable<Practica1.Models.Task>

@{
    ViewBag.Title = "Index";
}
    <h1>Citas</h1>

    <p>
        @Html.ActionLink("Crear Nuevo", "Create", null, new {@class="btn btn-sm btn-success"} )
    </p>

    <table class="table">
        <tr>
            <th>
                Local
            </th>
            <th>
                Tipo De Corte
            </th>
            <th>
                Fecha
            </th>
            <th>
               Hora
            </th>
            <th>
                Estatus
            </th>
            <th>
                Barbero
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
            @Html.ActionLink("Info", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
    }
    
    </table>


